.sakktabla {
    border-collapse: collapse;
}
.sakktabla td {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
    font-size: 24px;
}
.feher {
    background-color: #deefff;
}
.fekete {
    background-color: #666688;
}