body{
    background-color: rgba(0, 0, 0, 0.897);
}
.container {
    display: flex;
    justify-content: center;
}

.kiiras {
    border: 1px solid black;
    flex: 0 0 30%;
    margin: 10px;
}
.kiiras h2{
    padding-left: 30px;
    color: #ffffff;
    padding-bottom: 10px;
}

.sakktabla {
    border-collapse: collapse;
    flex: 0 0 70%;
    margin: 10px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.sakktabla td {
    width: 80px;
    height: 80px;
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    font-size: 60px;
}
.fekete {
    background-color: #635656;
}

.feher {
    background-color: #f0f0f0;
}

.cim{
    text-align: center;
    margin: 20px;
    color: #ffffff;
    border: 1px solid black;
}